.Card {
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.Card img {
  width: 100%;
  height: 100%;
}
.Overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  align-items: flex-end;
  vertical-align: center;
  z-index: 5;
  color: #fff;
  font-family: netflix;
  background-color: rgba(0, 0, 0, 0.5);
}
.Overlay h3 {
  margin-left: 20px;
  margin-bottom: 40px;
}
